@import '~@angular/material/theming';
@include mat-core();
$shopper-primary: mat-palette($mat-blue, 900);
$shopper-accent:  mat-palette($mat-deep-orange, 900);
$shopper-theme: mat-light-theme($shopper-primary, $shopper-accent);
@include angular-material-theme($shopper-theme);

html, body { 
  height: 100%; 
}

body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.icon {
  padding: 0 14px;
  &.double.mat-icon.mat-primary.material-icons {
    font-size: 62px;
    display: contents;
  }
}

.spacer {
  flex: 1 1 auto;
}

.box {
  padding: 16px;
}

.active {
  color: blue;
}

.cursor:hover {
  cursor: pointer;
}

.bm {
  &.red { color: #b71c1c; }
  &.pink { color: #880e4f; }
  &.purple { color: #4a148c; }
  &.indigo { color: #1a237e; }
  &.blue { color: #0d47a1; }
  &.cyan { color: #006064; }
  &.teal { color: #004d40; }
  &.green { color: #1b5e20; }
  &.lime { color: #827717; }
  &.yellow { color: #ffeb3b; }
  &.orange { color: #e65100; }
  &.brown { color: #3e2723; }
  &.grey { color: #212121; }
}
.bg {
  color: #ffffff;
  .mat-card-subtitle { color: #ffffff; }
  &.red { background-color: #b71c1c; }
  &.pink { background-color: #880e4f; }
  &.purple { background-color: #4a148c; }
  &.indigo { background-color: #1a237e; }
  &.blue { background-color: #0d47a1; }
  &.cyan { background-color: #006064; }
  &.teal { background-color: #004d40; }
  &.green { background-color: #1b5e20; }
  &.lime { background-color: #827717; }
  &.yellow { background-color: #ffeb3b; }
  &.orange { background-color: #e65100; }
  &.brown { background-color: #3e2723; }
  &.grey { background-color: #212121; }
}
.fab {
  right: 32px;
  bottom: 32px;
  position: absolute;
}
.grid {
  display: flex;
  col {
    display: inline-block;
  }
}
.budget {
  font-size: 48px;
  margin-right: 16px;
  margin-left: 16px;
  text-align: right;
}
.numbers {
  button {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  span:last-child {
    margin-left: 12px;
  }
}
.number {
  font-size: 32px;
}
.center {
  text-align: center;
}